body {
	margin: 0;
	min-height: 100vh;
	background-image: url("../Assets/Background/image (1).jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: sans-serif;
	color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    background-color: rgba(10, 10, 10, 0.75);
    border: 1px solid #f79f24;
    color: #f79f24;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button:hover {
    background-color: #f79f24;
    color: #0a0a0a;
    box-shadow: 0 0 10px #f79f24;
}