:root {
    --text: #ffffff;
    --background: #000000;
    --primary: #f5f5f5;
    --secondary: #cccccc;
    --accent: #ffffff;
}



body {
    color: var(--text);
    background: var(--background);
    font-family: "Zalando Sans Expanded", sans-serif;
    padding-left: 5px
}



img {
    padding: 2px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

audio {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 50px;
}